

:root {
  font-size: 2vh;
  --color-text: #e0e0e0;
  --color-bg: #000000;
  --color-link: #fff;
  --color-link-hover: #fff;
}

@font-face {
  font-family: 'ZenHand';
  src: url('zenhand2.ttf') format('truetype');
}
body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'ZenHand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  transition: font-size 0.3s ease, font-weight 0.3s ease;  
  cursor: pointer;
}

a:hover {
  font-weight: 900;
  font-size: 2.5vh;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}


.frame {
  z-index: 10;
  /*animation: slideIn 1s 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards,slideBack 2s 7s forwards;*/
  transform: translateY(-100%);
  /* transition: transform 0.5s; */
  position: fixed;
  width: 100%;
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(59, 59, 59, 0.5); /* Semi-transparent white */
  backdrop-filter: blur(2px); /* Blur effect */
  padding: 11px 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideBack {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}



.frame__title {
  grid-area: title;
  display: flex;
  font-weight: 900;
}

.frame__title-main {
  font-weight: 900;
  font-size: 2.5vh;
}


.link-menu {
  display: flex;
  justify-content: space-between;
  width: 800px;
  list-style: none;
  margin: 0;
  margin-right: 5vh;
  padding: 4;
}
.link-menu li a {
  text-decoration: none;
  color:var(--color-text);
}

